<html>

<head>

</head>

<body style="margin:0px;padding:0px">
    <div style="border-style:solid; border-color:red;height:50px">
        Header
    </div>

    <div style="border-style:solid; border-color:blue;">
        <table border="1" width="100%"> 
            <tr>
                <td style="width:100px;"></td>
                <td>
                    @RenderBody()
                </td>
            </tr>
        </table>
        
    </div>



    <div style="border-style:solid; border-color:red;height:50px">
        Footer
    </div>
</body>

</html>