@model Student
<h3>Create</h3>

<form action="/students/Create" method="post">
<table>
    <tr>
        <td>
            Id
        </td>
        <td>
            <input type="text" name="id"/>
        </td>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            <input type="text" name="name" />
        </td>
    </tr>
    <tr>
        <td>
            StudentId

        </td>
        <td>
            <input type="text" name="studentId"/>
        </td>
    </tr>
    <tr>
        <td>
            Description
        </td>
        <td>
            <input type="text" name="description"/>
        </td>
        </>
</table>
<input type="submit" value="Save"/>

</form>